body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

header {
    background: #1e90ff;
    padding: 20px;
}

section {
    padding: 20px;
}

.card {
    background: #222;
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
}

.card:hover {
    background: #333;
}

footer {
    background: black;
    padding: 10px;
}
